@use "@/scss/utils/colors";

.newsPost {
  background-color: colors.get(white, .05);
  padding: 2rem;
  border-radius: 2rem;
}

.newsPost__title {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 900;

  a {
    color: colors.get(white);
  }
}

.newsPost__datetimeCreated {
  display: inline-block;
  color: colors.get(white, .7);
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.newsPost__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}