@use "../utils/colors";

.button {
  border-radius: 1000000px;
  background-color: colors.get(white);
  color: colors.get(black);
  font-weight: 600;
  border: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  width: max-content;
  transition: .2s;
  transition-property: background-color, color;
  align-self: flex-start;
  text-decoration: none;
  &:hover {
    background-color: colors.get(blue);
    color: colors.get(white);
  }

  &_sm {
    font-size: 1.4rem;
    padding: .5rem 1rem;
  }
  &_red {
    background-color: colors.get(red);
    color: colors.get(white);
  }
}
