@use "../scss/utils/mixins";
@use "../scss/utils/colors";

.main {
  padding: 2rem;
  min-height: 100vh;
  &__wrapper {
    @include mixins.wrapper-desktop;
    position: relative;
  }


  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    gap: 1rem;
    margin-top: 0;
    color: colors.get(white);
    text-decoration: none;
  }

  &__backgroundWrapper {
    z-index: -1;
    position: absolute;
    width: 100rem;
    height: 100rem;
    top: 0;
    //background: url("/bg.png") no-repeat 50%;
    //background-size: contain;
    //animation: backgroundPulse;
    //animation-duration: 30s;
    //animation-iteration-count: infinite;
    //animation-timing-function: linear;
    user-select: none;
    pointer-events: none;
    margin-top: -15rem;
  }
}

@keyframes backgroundPulse {
  0% {
    opacity: .9;
    transform: scale(1);
  }

  25% {
    opacity: .75;
    transform:  scale(.9) rotate(-15deg);
  }

  50% {
    opacity: .50;
    transform:  scale(.8) rotate(0deg);
  }

  75% {
    opacity: .75;
    transform:  scale(.9);
  }

  100% {
    opacity: .9;
    transform:  scale(1);
  }
}