@use "@/scss/utils/colors";

.userCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.userCard__avatar {
  width: 4rem;
  height: 4rem;
  background-color: colors.get(white, .4);
  background-image: linear-gradient(132deg, rgba(21, 86, 234, 1) 0%, rgba(187, 38, 73, 1) 100%);
  border-radius: 50%;
  cursor: pointer;
}

.userCard__name {
  cursor: pointer;
  color: colors.get(white, .7);
  transition: .2s color;
  text-decoration: none;

  &:hover {
    color: colors.get(white);
  }
}